@include media-breakpoint-up (xs) {
  .start-screen-background {
    img {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
    }
  }
  .start-screen-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img.start-screen-rectangle {
      position: absolute;
      left: 22.5%;
      z-index: -1;
    }
    .start-screen-content {
      background-color: $primary-white;
      padding: 3rem 2rem;
      width: 80ch;
      display: flex;
      flex-direction: column;
    }
    .start-screen-text {
      margin-bottom: 4rem;
      h1 {
        color: $primary-color;
      }
    }
  }
}